#container{
    display: flex;
    width: 100%;
}


.child{
    flex: 1;
    height: 200px;
}

#child1{
    
    background-color: red;
}

#child2{
    background-color: blue;
}
#child3{
    background-color:  green;
}

