<section class="signupForm">
    <form class="column" #F="ngForm" (ngSubmit)="onSubmit(F)">
        <mat-form-field>
            <input matInput type="text" email placeholder="Email" ngModel name="Email" required #emailInput="ngModel">
            <mat-error *ngIf="emailInput.hasError('required')">field must not be empty </mat-error>
            <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid </mat-error>
        </mat-form-field>
        <mat-form-field class="marginTop" hintLabel="Should be at least 6 charachters long">
            <input matInput type="text" placeholder="Password" ngModel name="Password" required minlength="6"
                #pwInput="ngModel">
            <mat-hint align="end">{{pwInput.value.length}} / 6</mat-hint>
            <mat-error>Has to be as least charachters long </mat-error>
        </mat-form-field>

        <mat-form-field class="marginTop">
            <input matInput [matDatepicker]="picker" placeholder="Birthday"ngModel name="Birthday" required>
            <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


            <mat-checkbox ngModel name="agree" required >Agree To Terms And Conditions</mat-checkbox>
       

        <button class="marginTop" mat-raised-button type="submit" color="primary" [disabled]="F.invalid">submit</button>
    </form>
</section>